<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Panchayat</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminLogin11</display-name>
    <servlet-name>AdminLogin11</servlet-name>
    <servlet-class>panchayat.AdminLogin11</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin11</servlet-name>
    <url-pattern>/AdminLogin11</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminAddOfficer11</display-name>
    <servlet-name>AdminAddOfficer11</servlet-name>
    <servlet-class>panchayat.AdminAddOfficer11</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddOfficer11</servlet-name>
    <url-pattern>/AdminAddOfficer11</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteOfficer11</display-name>
    <servlet-name>DeleteOfficer11</servlet-name>
    <servlet-class>panchayat.DeleteOfficer11</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteOfficer11</servlet-name>
    <url-pattern>/DeleteOfficer11</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminNotices11</display-name>
    <servlet-name>AdminNotices11</servlet-name>
    <servlet-class>panchayat.AdminNotices11</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminNotices11</servlet-name>
    <url-pattern>/AdminNotices11</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminSchemes11</display-name>
    <servlet-name>AdminSchemes11</servlet-name>
    <servlet-class>panchayat.AdminSchemes11</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSchemes11</servlet-name>
    <url-pattern>/AdminSchemes11</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDeleteScheme11</display-name>
    <servlet-name>AdminDeleteScheme11</servlet-name>
    <servlet-class>panchayat.AdminDeleteScheme11</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDeleteScheme11</servlet-name>
    <url-pattern>/AdminDeleteScheme11</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDeleteNotice11</display-name>
    <servlet-name>AdminDeleteNotice11</servlet-name>
    <servlet-class>panchayat.AdminDeleteNotice11</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDeleteNotice11</servlet-name>
    <url-pattern>/AdminDeleteNotice11</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CitizenRegister22</display-name>
    <servlet-name>CitizenRegister22</servlet-name>
    <servlet-class>panchayat.CitizenRegister22</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CitizenRegister22</servlet-name>
    <url-pattern>/CitizenRegister22</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CitizenLogin22</display-name>
    <servlet-name>CitizenLogin22</servlet-name>
    <servlet-class>panchayat.CitizenLogin22</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CitizenLogin22</servlet-name>
    <url-pattern>/CitizenLogin22</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CitizenComplaint22</display-name>
    <servlet-name>CitizenComplaint22</servlet-name>
    <servlet-class>panchayat.CitizenComplaint22</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CitizenComplaint22</servlet-name>
    <url-pattern>/CitizenComplaint22</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResetPassword22</display-name>
    <servlet-name>ResetPassword22</servlet-name>
    <servlet-class>panchayat.ResetPassword22</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetPassword22</servlet-name>
    <url-pattern>/ResetPassword22</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OfficerLogin33</display-name>
    <servlet-name>OfficerLogin33</servlet-name>
    <servlet-class>panchayat.OfficerLogin33</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OfficerLogin33</servlet-name>
    <url-pattern>/OfficerLogin33</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCitizen33</display-name>
    <servlet-name>DeleteCitizen33</servlet-name>
    <servlet-class>panchayat.DeleteCitizen33</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCitizen33</servlet-name>
    <url-pattern>/DeleteCitizen33</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OfficerDeleteCitizen33</display-name>
    <servlet-name>OfficerDeleteCitizen33</servlet-name>
    <servlet-class>panchayat.OfficerDeleteCitizen33</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OfficerDeleteCitizen33</servlet-name>
    <url-pattern>/OfficerDeleteCitizen33</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StatusOfficer</display-name>
    <servlet-name>StatusOfficer</servlet-name>
    <servlet-class>panchayat.StatusOfficer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatusOfficer</servlet-name>
    <url-pattern>/StatusOfficer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResetPasswordOfficer33</display-name>
    <servlet-name>ResetPasswordOfficer33</servlet-name>
    <servlet-class>panchayat.ResetPasswordOfficer33</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetPasswordOfficer33</servlet-name>
    <url-pattern>/ResetPasswordOfficer33</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResetPasswordOfficer</display-name>
    <servlet-name>ResetPasswordOfficer</servlet-name>
    <servlet-class>panchayat.ResetPasswordOfficer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetPasswordOfficer</servlet-name>
    <url-pattern>/ResetPasswordOfficer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDeleteOfficer</display-name>
    <servlet-name>AdminDeleteOfficer</servlet-name>
    <servlet-class>panchayat.AdminDeleteOfficer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDeleteOfficer</servlet-name>
    <url-pattern>/AdminDeleteOfficer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewImage</display-name>
    <servlet-name>ViewImage</servlet-name>
    <servlet-class>panchayat.ViewImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewImage</servlet-name>
    <url-pattern>/ViewImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>image</display-name>
    <servlet-name>image</servlet-name>
    <servlet-class>panchayat.image</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>image</servlet-name>
    <url-pattern>/image</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Citi_comp</display-name>
    <servlet-name>Citi_comp</servlet-name>
    <servlet-class>panchayat.Citi_comp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Citi_comp</servlet-name>
    <url-pattern>/Citi_comp</url-pattern>
  </servlet-mapping>
</web-app>